body{
    background-color: #ebebed;
}
main{
    background-color: #f1f2e1;
}

.titulos{
    color: #3fd1ca;
    text-align: left;
}

.FT_beth{
    width: 225px;
    height: 300px;
}

.texto-principal{
    float: right;
}
.texto-direita{
    float: left;
}